#toolbar {
    padding: 0.5em 0.5em 0.75em 0.5em;
}
label {
    color: teal;
}
input {
    color: teal;
}
#config {
    color: aliceblue;
    width: 20%;
    border: solid 1px blue;
    background-color: cornflowerblue;
    margin-left: 10em;
    margin-top: 5em;
}
#movieOnPlay {
    color: teal;
    font-size: 1em;
    margin-left: 40%;
    text-decoration: underline;
}
i {
    color: white;
    font-size: 2em;
    margin-right: 0.5em;
}
i:hover {
    color: teal;
}
progress {
    width: 97%;
    height: 6px;
}
#duree {
    color: white;
    font-size: 0.8em;
}
.fa-star {
    font-size: 0.5em;
    color: red;
}
.fa-star:hover {
    color: red;
}

.topmenu{
    display: grid;
    display: block;
    background-color: rgba(119, 156, 153, 0.1);

}

#main{
    display: flex;
}


#list{
    
    min-height: 200px;
    margin-top: 3em;
    cursor: pointer;
    border-radius: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #413d3d;
    /* background-color: pink; */
    font: caption;
    height:100%; /* force the BODY element to match the height of the HTML element */
}

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

.divFilm{
    display: flex;
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: right;
    border-radius: 0.1em;
    background-color: whitesmoke;
    color: teal;
}
.divFilm:hover {
    background-color: teal;
    color: white;
}

.divIndex{
    
    margin: 2px;
    color: green;
}

.divTitle{
    margin: 4px;
    width: 100%;
}
.playButton{
    width: 50px;
    height: 20px;
}
.boutonsFilm {
    position: fixed;
    right: 2px;
    top: 2px;
}
